In [4]:
from dotenv import load_dotenv
load_dotenv() ## load all the environemnt variables

import streamlit as st
import os
import sqlite3

import google.generativeai as genai
## Configure Genai Key

genai.configure(api_key=os.getenv("GOOGLE_API_KEY"))

c:\Users\somva\Documents\Work\Foundational_Generative_AI\Text_To_SQL_LLM_Gemini_PRO\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import sqlite3

# Connect to a database (or create one if it doesn't exist)
conn = sqlite3.connect('example_1.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table (if it doesn't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS employees
                  (id INTEGER PRIMARY KEY, 
                   name TEXT, 
                   age INTEGER, 
                   department TEXT)''')

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example_1.db')

# Create a cursor object
cursor = conn.cursor()

# Insert records
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Alice', 30, 'HR')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Bob', 25, 'Engineering')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Charlie', 28, 'Marketing')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Ron', 26, 'IT')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('John', 24, 'Finance')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Shon', 27, 'Logistics')")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [6]:

# Define the input text
input_text = ["""The 'employees' table has columns 'id', 'name', 'age', and 'department'. Generate a SQL query to show all employees in the 'HR' department.
                    Generate a SQL query to show all employees in the 'employees' table where the 'department' column is 'HR' """]

In [7]:
import google.generativeai as genai

# Configure the API key
# genai.configure(api_key='your-google-api-key')


# Generate the SQL query using the LLM
model = genai.GenerativeModel('gemini-1.5-flash')
response = model.generate_content(input_text[0])

# Assuming the LLM returns a SQL query
sql_query = response.text  # This might be something like "SELECT * FROM employees WHERE department = 'HR';"

print("Generated SQL Query:", sql_query)

Generated SQL Query: ```sql
SELECT *
FROM employees
WHERE department = 'HR';
```

In [9]:
print(sql_query)

```sql
SELECT *
FROM employees
WHERE department = 'HR';
```

In [11]:
# Remove the Markdown formatting
sql_query_cleaned = sql_query.replace("```sql", "").replace("```", "").strip()

# Now the query is clean and can be executed

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example_1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the generated SQL query
cursor.execute(sql_query_cleaned)

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)

# Close the connection
conn.close()

(1, 'Alice', 30, 'HR')

In [14]:
input_text = """
The 'employees' table contains the following columns:
- id: Integer, the employee ID
- name: Text, the employee's name
- age: Integer, the employee's age
- department: Text, the employee's department

Generate a SQL query to show all employees in the 'HR' department.
"""
response = model.generate_content([input_text])
sql_query_1 = response.text

print("Generated SQL Query:", sql_query_1)

Generated SQL Query: ```sql
SELECT *
FROM employees
WHERE department = 'HR';
```

In [15]:
sql_query_1

"```sql\nSELECT *\nFROM employees\nWHERE department = 'HR';\n```"

In [16]:
# Remove the Markdown formatting
sql_query_cleaned_1 = sql_query_1.replace("```sql", "").replace("```", "").strip()

# Now the query is clean and can be executed

In [17]:
sql_query_cleaned_1

"SELECT *\nFROM employees\nWHERE department = 'HR';"

In [18]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example_1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the generated SQL query
cursor.execute(sql_query_cleaned_1)

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)

# Close the connection
conn.close()

(1, 'Alice', 30, 'HR')

In [19]:
input_text = """
The 'employees' table contains the following columns:
- id: Integer, the employee ID
- name: Text, the employee's name
- age: Integer, the employee's age
- department: Text, the employee's department

Generate a SQL query to show all employees in the 'Engineering' department.
"""
response = model.generate_content([input_text])
sql_query_2 = response.text

print("Generated SQL Query:", sql_query_2)

Generated SQL Query: ```sql
SELECT *
FROM employees
WHERE department = 'Engineering';
```

In [20]:
# Remove the Markdown formatting
sql_query_cleaned_2 = sql_query_2.replace("```sql", "").replace("```", "").strip()

# Now the query is clean and can be executed

In [21]:
sql_query_cleaned_2

"SELECT *\nFROM employees\nWHERE department = 'Engineering';"

In [22]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example_1.db')

# Create a cursor object
cursor = conn.cursor()

# Execute the generated SQL query
cursor.execute(sql_query_cleaned_2)

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)

# Close the connection
conn.close()

(2, 'Bob', 25, 'Engineering')